<footer class="page-footer white">
	<div class="container">
		<div class="row white black-text">
			<div class="col l4 s6">
				<img class="icones" 
				src="../assets/imgs/map-location.png"> Rio de Janeiro - RJ 
			</div>
			<div class="col l4 s6">
				<!--Apos a aula de Rotas completar os #-->
				<a><img class="icones" 
					src="../assets/imgs/facebook.png"></a>
				<a><img class="icones" 
					src="../assets/imgs/instagram.png"></a>
				<a><img class="icones" 
					src="../assets/imgs/pinterest.png"></a>
				<a><img class="icones" 
					src="../assets/imgs/twitter.png"></a>
			</div>
		</div>	
		<div class="footer-copyright black-text white">
			© 2018 FERNANDES, Rafael.
		</div>		
	</div>	
</footer>