<footer class="page-footer white">
	<div class="container">
		<div class="row white black-text">
			<div class="col l4 s6">
				<img class="icones" 
				src="C:\Users\Dell\Desktop\arduino-project\img\icones\map-location.svg"> Rio de Janeiro - RJ 
			</div>
			<div class="col l4 s6">
				<!--Apos a aula de Rotas completar os #-->
				<a><img class="icones" 
					src="C:\Users\Dell\Desktop\arduino-project\img\icones\redes-sociais\facebook.svg"></a>
				<a><img class="icones" 
					src=C:\Users\Dell\Desktop\arduino-project\img\icones\redes-sociais\instagram.svg></a>
				<a><img class="icones" 
					src=C:\Users\Dell\Desktop\arduino-project\img\icones\redes-sociais\pinterest.svg></a>
				<a><img class="icones" 
					src=C:\Users\Dell\Desktop\arduino-project\img\icones\redes-sociais\twitter.svg></a>
			</div>
		</div>	
		<div class="footer-copyright black-text white">
			© 2018 FERNANDES, Rafael.
		</div>		
	</div>	
</footer>