<footer class="page-footer white">
	<div class="container">
		<div class="row white black-text">
			<div class="col l4 s6">
				<a href="https://www.google.com.br/maps/place/Centro+de+Ci%C3%AAncias+Matem%C3%A1ticas+e+da+Natureza+(CCMN)+-+UFRJ/@-22.8578617,-43.2326821,15z/data=!4m2!3m1!1s0x0:0x20a7d1ce2f645285?sa=X&ved=0ahUKEwiUxeDX8K7cAhUFEpAKHeHeB3sQ_BIIiwEwDg">
					<img class="icones" 
				src="../assets/imgs/map-location.png"></a> Rio de Janeiro - RJ 
			</div>
			<div class="col l4 s6">
				<!--Conferir depois como mudar sombreado nos ícones-->
				<a href="https://pt-br.facebook.com/">
					<img class="icones" 
					src="../assets/imgs/facebook.png"></a>
				<a href="https://www.instagram.com/?hl=pt-br">
					<img class="icones" 
					src="../assets/imgs/instagram.png"></a>
				<a href="https://br.pinterest.com/">
					<img class="icones" 
					src="../assets/imgs/pinterest.png"></a>
				<a href="https://twitter.com/?lang=pt-br">
					<img class="icones" 
					src="../assets/imgs/twitter.png"></a>
			</div>
		</div>	
		<div class="footer-copyright black-text white">
			© 2018 FERNANDES, Rafael.
		</div>		
	</div>	
</footer>