<div class="intro">
  <div class="row">
    Aqui é o local no site onde você encontra as informações sobre os produtos mais populares e mais comentados aqui, no Arduindo! Fora um link para compra, caso se interesse!
  </div>
</div>

<div class="col s12 m7">
  <div class="card horizontal">
	 <div class="card-image">
      	<img src="../assets/imgs/cards/arduinoUno.jpg">
    	</div>
    	<div class="card-stacked">
      	<div class="card-content">
          <h3>Arduino Uno</h3>
        		<p>
              O Arduino Uno é uma placa de microcontrolador baseado no ATmega328. Ele tem 14 pinos de entrada/saída digital (dos quais 6 podem ser usados como saídas PWM), 6 entradas analógicas, um cristal oscilador de 16MHz, uma conexão USB, uma entrada de alimentação uma conexão ICSP e um botão de reset. Ele contém todos os componentes necessários para suportar o microcontrolador. Não entendeu nada? Relaxa! Simplesmente conecte a um computador pela porta USB ou alimentar com uma fonte ou com uma bateria e tudo pronto para começar. É simples, prático, e barato! Perfeito para perder aquele medo com programação!
            </p>
      	</div>
      	<div class="card-action">
          <!--O site é estrangeiro pois foi o melhor que encontrei-->
        	<a href="https://store.arduino.cc/arduino-uno-rev3">Compre o Arduino Uno!</a>
      	</div>
    	</div>
	</div>
</div>

<div class="col s12 m7">
  <div class="card horizontal">
   <div class="card-image">
        <img src="../assets/imgs/cards/arduinoLeo.jpg">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <h3>Arduino Leonardo</h3>
            <p>
              A Arduino Leonardo é mais uma placa que faz parte do portfólio de placas Arduino, que são fáceis de usar, possui interface intuitiva e é utilizada principalmente por iniciantes, hobbyistas ou para testes ou para fins educacionais. Ela difere de placas Arduino anteriores porque possui um microcontrolador  ATMEL de 8-bits com o periférico USB, o que elimina o uso de um segundo microcontrolador com USB para programação. Além disso, essa USB pode ser usada para controle do PC! E possui toda circuitaria necessária para fazer o microcontrolador funcionar; simplesmente conecte o cabo micro USB ou alimente a placa via fonte externa e utilize da forma mais conveniente. E o mais importante: se divirta!
            </p>
        </div>
        <div class="card-action">
          <!--O site é estrangeiro pois foi o melhor que encontrei-->
          <a href="https://store.arduino.cc/arduino-leonardo-with-headers">Compre o Arduino Leonardo!</a>
        </div>
      </div>
  </div>
</div>

<div class="col s12 m7">
  <div class="card horizontal">
   <div class="card-image">
        <img src="../assets/imgs/cards/arduinoMega.jpg">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <h3>Arduino Mega</h3>
            <p>
              A placa Arduino Mega é mais uma placa da plataforma Arduino que possui recursos bem interessantes para prototipagem e projetos mais elaborados. Baseada no microcontrolador ATmega2560, possui 54 pinos de entradas e saídas digitais onde 15 destes podem ser utilizados como saídas PWM. Possui 16 entradas analógicas, 4 portas de comunicação serial. Além da quantidade de pinos, ela conta com maior quantidade de memória que Arduino UNO, sendo uma ótima opção para projetos que necessitem de muitos pinos de entradas e saídas além de memória de programa com maior capacidade. A seguir serão apresentadas as suas características construtivas, passando pelos principais recursos que essa placa apresenta. Você conhecerá o poder dessa placa!</p>
        </div>
        <div class="card-action">
          <!--O site é estrangeiro pois foi o melhor que encontrei-->
          <a href="https://store.arduino.cc/arduino-mega-2560-rev3">Compre o Arduino Mega!</a>
        </div>
      </div>
  </div>
</div>

<div class="col s12 m7">
  <div class="card horizontal">
   <div class="card-image">
        <img src="../assets/imgs/cards/arduinoEther.jpg">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <h3>Arduino Ethernet</h3>
            <p>
              O Arduino Ethernet é uma placa de microcontrolador baseado no ATmega328 (datasheet). Ele tem 14 pinos de entrada/saída digital (dos quais 6 podem ser usados como saídas PWM), 6 entradas analógicas, um cristal oscilador de 16MHz, um conector RJ45, um conector de alimentação, um conector ICSP e um botão de reset. Um modulo PoE (Power over Ethernet) já está adicionado à placa. O Arduino Ethernet é perfeito para projetos que necessitem de comunicar com computadores através de uma rede cabeada Ethernet. O módulo conta ainda com um leitor de cartão SD para armazenamento e leitura de dados!
            </p>
        </div>
        <div class="card-action">
          <!--O site é estrangeiro pois foi o melhor que encontrei-->
          <a href="https://store.arduino.cc/arduino-ethernet-rev3-without-poe">Compre o Arduino Ethernet!</a>
        </div>
      </div>
  </div>
</div>

<div class="col s12 m7">
  <div class="card horizontal">
   <div class="card-image">
        <img src="../assets/imgs/cards/arduinoG.jpg">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <h3>Arduino GEMMA</h3>
            <p>
             A Adafruit lançou há um tempo uma nova placa compatível com Arduino chamada Adafruit GEMMA v2. Agora a mesma empresa Adafruit anuncia uma placa com o mesmo hardware da GEMMA v2 chamada Arduino GEMMA. A diferença é que a placa Arduino GEMMA será azul e oficialmente suportada na IDE do Arduino, sem a necessidade de se instalar nenhum plugin ou driver a mais e, claro, terá o logo Arduino. Possui 28 mm. de diamêtro, feita para que se possa contruir weareables (que se pode usar) de maneira fácil utilizando o poder da programação Arduino. Já quis fazer seu próprio smart-watch? Arduino Gemma é a resposta!
            </p>
        </div>
        <div class="card-action">
          <!--O site é estrangeiro pois foi o melhor que encontrei-->
          <a href="https://store.arduino.cc/arduino-gemma">Compre o Arduino Gemma!</a>
        </div>
      </div>
  </div>
</div>