<nav class="transparent z-depth-0">
	<div class="nav-wrapper">
		<!--Apos a aula de Rotas completar os #-->
		<a class="text left">Arduindo</a>
		<ul id="nav-mobile" class="right hide-on-med-and-down">
			<!--Apos a aula de Rotas completar os #-->
			<li routerLinkActive="active"><a routerLink="/home">Home</a></li>
			<li><a href="#">Catálogo</a></li>
			<li><a href="#">Contato</a></li>
			<li><a href="#">Sobre Nós</a></li>
			<li><a href="#">Login</a></li>
		</ul>
		<br>
		<a class="left" id="subTitulo">O seu site de ajuda à Arduino! Se você está perdido, o seu lugar é aqui!</a>
	</div>
</nav>