<div class="container">
  <div class="intro"> 
    Possui alguma dúvida, reclamação, ou até mesmo sugestão? Manda pra gente!
  </div>
  <div class = "row white">
    <div class = "col l0 s12">
      <h4>Contato</h4>
    </div>
    <div class ="col l6 m12 s12 offset-l3" id="dados">
      Nome:
      <input type="text" name="nome" id="text-dados" placeholder="Nome">
      E-mail:
      <input type="text" name="email" id="text-dados" placeholder="E-mail">
      Assunto:
      <input type="text" name="assunto" id="text-dados" placeholder="Assunto">
      Mensagem:
      <textarea id ="mensagem"></textarea>
      <div class="row center">
        <button onclick="alert('Agradecemos pelo sua mensagem!')">
          ENVIAR
        </button>
      </div>
  </div>
  </div>
</div>