<div class="row white">
  <div class="container">
    <p>WELCOME TO ARDUINDO! A SUA PLATAFORMA DE APRENDER E TIRAR DÚVIDAS SOBRE ARDUINO EM PORTUGUÊS!</p> 
    <br>
    <p>Arduino é uma plataforma eletrônica open-source baseda em um hardware and software fáceis de se usar, além de muito baratos. Placas de Arduino conseguem ler inputs(entradas) - luz em um sensor, um dedo em um botão, ou uma mensagem no Twitter - e torna tudo isso em um output(saída) - ativando um motor, acendendo um LED, publicando algo online.</p>
    <br>
    <p>Infelizmente, foi desenvolvido no exterior e por isso a grande parte de sua biblioteca e sites de ajuda estão em inglês. Por essa razão fundamos o Arduindo! Aqui você pode tirar qualquer dúvida utilizando sua língua nativa que nossa equipe e também os usuários serão capazes de responder! Desta forma, somente a imaginação é o limite! Cadastre-se e junte-se à essa comunidade que cresce a cada dia pelo conhecimento e diversão intelectual!</p>
  </div>
</div>