<div class="up-text">
	<h3>Sobre nós</h3>
	<h4>Um pouco da nossa história</h4>
</div>
<div class="row white">
	<div class="container">
		<h3>O Site</h3>
		<p>
			A Arduindo veio originalmente da intenção do idealizador da página de difundir os pensamentos: "O que é programação?", "Como ela é feita?", "Será que eu também sou capaz de fazer?"; para todos aqueles minimamente interessados em computadores, automatização, ou até mesmo às pessoas que de tão curiosas que são se perguntam, por exemplo, "Como os postes de luz são acesos? Nunca vi ninguém passar de um por um para acendê-los... nem um interruptor!". Todos esses pensamentos podem ser respondidos de forma simples através do estudo da Placa Arduino! Software e hardware simples, de fácil e rápido entendimento, open-source, e por causa disso tudo há vários projetos muito interessantes na Internet! Então, queremos e tentamos aqui incentivar à todos para que pesquisem e se aventurem nesta jornada incrível que é a programação hoje!!
		</p>
		<h3>O Nome</h3>
		<p>
			Ok, mas se a placa se chama "Arduino", por que diabos o site se chama "ARDUINDO"? Acontece que, o idealizador da página é um grande fã de trocadilhos e piadas ruins. "Arduindo" vem de: "Árduo" + "indo", pois todos aqueles que já programaram ao menos uma vez na vida sabem como é árduo ficar 2 horas por causa de simples 3 linhas de código, mas também sabem a felicidade de quando o programa finalmente funciona, tudo dá certo, e tudo aquilo que você imaginou está acontecendo bem diante de seus olhos! Além de soar bastante com "Arduino", o que facilita nas ferramentas de busca online!
		</p>
		<h3>A Comunidade</h3>
		<p>
			Existimos há pouco tempo, mas veja a cara de felicidade e satisfação de nossos usuários! Não importa idade, tamanho, nem renda. Estamos aqui para ajudar e aprender com vocês também! Se você se interressou, não deixe de se cadastrar em nossa página (só clicar em "Login")!
		</p>
		<div class="row center">
			<img class="image" id="imgs" src="../assets/imgs/nameless.jpg">
		</div>	
	</div>
</div>