<div class="container">
	<div class="row white">
	    <div class="col l0 s12">
	    	<h4>Login</h4>
	    </div>
	    <div class="col l6 m12 s12 offset-l3" id ="dados">
    		Nome:
        	<input type="text" name="nome" id="text-dados" placeholder="Nome">
        	E-mail:
        	<input type="text" name="email" id="text-dados" placeholder="E-mail">
        	Senha:
        	<input type="password" name="senha" id="text-dados" placeholder="Senha">
        	<div class="row center">
	        	<button onclick="alert('Cadastro realizado com sucesso!')">
	        		Cadastre-se!
	        	</button>
	        </div>	
	    </div>
	</div>
</div>